* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

form label {
    font-weight: bold;
    margin: 10px 0 5px;
    display: block;
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}
form select{
    font-size: 18px;
}

.reset,
.submit {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

.reset {
    background: #e5e5e5;
}

.submit {
    background: #0d6efd;
    color: white;
}
